@import '../../../styles.scss';

.modal {
  .modal-body {
    .btn-fields {
      .card-body {
        display: flex;
        justify-content: space-between;
        p {
          font-size: 15px;
          color: $black;
          font-weight: 500;
        }
      }
      .done-btn {
        padding-top: 20px;
      }
    }
  }
}
